<div class="header-container">
    <div class="logo">NORDIC ROSE</div>
    <div class="menu">
        <ul>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="#">
                <li>About</li>
            </a>
            <a href="#">
                <li>Contact</li>
            </a>
            <a href="#">
                <li>Projects</li>
            </a>
        </ul>
    </div>
</div>
<div class="header-hr"></div>
<div>
    <div class="search-container">
        <form action="/search">
            <input class="field" type="text" name="q" placeholder="search" />
            <input class="submit" type="submit" value="search" />
        </form>
        <div class="login-and-signup">
            <% if(!user){ %>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
            <%}else{%>
            <a href="#"><%=user.email%></a>
            <%}%>
        </div>
    </div>
</div>
