<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/loginAndSignupStyle.scss" />
        <title>login</title>
    </head>
    <body>
        <div class="container">
            <div class="error">
                <% for(const key in flash){%>
                <p><%= flash[key] %></p>
                <%}%>
            </div>
            <form method="post">
                <input type="email" name="email" placeholder="email" />
                <input type="password" name="password" placeholder="password" />
                <input
                    class="submit"
                    type="submit"
                    name="submit"
                    value="login"
                />
            </form>
        </div>
    </body>
</html>
