* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
p {
    line-height: 35px;
}
body {
}
.container {
    margin: 0 auto;
}
/* header starts here */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}
.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul a {
    margin-left: 20px;
    color: black;
    cursor: pointer;
    font-size: 25px;
    padding: 10px 5px 0 10px;
}
.logo {
    color: black;
    font-size: 40px;
}
.categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    margin: 0 auto;
    text-transform: capitalize;
    margin-top: 30px;
}
.category li {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    width: 130px;
}

.active-category {
    background-color: black;
    color: white;
}
.header-hr {
    border-bottom: 2px solid gray;
    width: 80vw;
    margin: 0 auto;
}
/* header ends here */
.single-post {
    margin: 0 auto;
    width: 600px;
}
.single-post h1 {
    width: 400px;
    text-align: center;
}
.single-post img {
    width: 100%;
}
.hr {
    translate: 0 30px;
    width: 80vw;
    border: 1px solid black;
    z-index: -1;
}
.eye-emoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.next {
}
/*similar posts starts here*/
.similar-posts {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding-left: 220px;
}
.similar-posts h3 {
    width: 200px;
    text-align: center;
    font-size: 16px;
}

.similar-posts img {
    height: 100px;
    width: 200px;
    object-fit: cover;
}
.post-container {
    width: 400px;
    flex: 1;
}
.btn {
    margin-top: 10px;
    border: 1px solid black;
    width: 120px;
    text-align: center;
    padding: 0px 5px;
}
.btn:hover {
    background-color: black;
    color: white;
}
.post-container p {
    background-color: #000000;
    color: white;
    width: 200px;
}
.post h3 {
    margin: 10px 0;
}
/*similar-posts ends here*/

/* footer starts here */
.footer {
    height: 500px;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.footer .logo {
    color: white;
    text-align: center;
    margin-top: 50px;
}
.footer .logo h2 {
    font-size: 48px;
    color: white;
}
.footer .logo p {
    font-size: 16px;
    width: 450px;
}
.footer .links {
    padding-top: 50px;
}
.footer .links a {
    margin: 50px;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.copyright p {
    margin-top: 70%;
    color: white;
}
/* footer ends here*/
/*searchbar style starts*/
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 20px;
}
.search-container form {
}
.search-container form .field {
    border: none;
    padding: 5px 20px;
    border-bottom: 1px solid black;
}
.search-container form .field:focus {
    outline: none;
}
.search-container form .submit {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #fff;
}
.search-container form .submit:hover {
    background-color: #fff;
    color: black;
    border: 1px solid #000;
}
/*searchbar style ends*/
/*Login and sign up starts*/

.login-and-signup a {
    background-color: #f0810e;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
}
.login-and-signup a:hover {
    background-color: #fff;
    color: #f0810e;
    border: 1px solid #f0810e;
}
/*Login and sign up ends*/
